/* INSERT CUSTOM COLORS HERE */

@light: #fae3ca;
@dark: #f9cb9c;
@darker: #f6b26b;
@highlight: #ffe599;
@background: #e69138;

#light{
    color:@light;
    display: none;
}
#dark{
    color:@dark;
    display: none;
}
#darker{
    color:@darker;
    display: none;
}
#highlight{
    color:@highlight;
    display: none;
}
#background{
    color:@background;
    display: none;
}
#navbar-select{
    color:lighten(@background,15%);
    display:none;
}
#slidebar-select{
    color:darken(@background,8%);
    display:none;
}
#slidebar{
    color:darken(@background,15%);
    display:none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1000ms;
}

a {
    text-decoration: none;
    color: black;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    background-color: @light;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

#css-load-tester{
    color: black;
}

#loading{
    display: none;
}

#loading-2{
    display: none;
    transform: translateY(-100%);
}

@import "nav.less";
@import "auth.less";