<animation>advancedStatSheet</animation>
<div id="character-sheet">
    <section id="basic-info-image">
        <component>avatar|Characterinfo|<%=id%></component>
    </section>
</div>
<animation>basicSheet</animation>