<section id = "character-age" class = "character-box">
    <section class = "character-box-title character-box-section">
        Age:
    </section>
    <section class ="character-box-content character-box-section">
        <%=age()%>
    </section>
</section>