<animation>basicCombatSheet</animation>
<section class = "basic-combat">
        <%-include('basic-combat/combat-stats.ejs')%>
        <section class = "flex-column">
            <%-include('basic-combat/stat-calculations.ejs')%>
            <%-include('basic-combat/combat-abilities.ejs')%>
            <%-include('basic-combat/combat-spirit-powers.ejs')%>
        </section>
</section>