<animation>basicCombatSheet</animation>
<section class = "basic-combat">
    <section class = "basic-combat-row">
        <%-include('combat-stats.ejs')%>
        <%-include('estimated-combat-mod.ejs')%>
    </section>
    <section class = "basic-combat-row">
        <%-include('combat-spirit-bonds.ejs')%>
        <%-include('combat-specialties.ejs')%>
    </section>
</section>