<animation>basicCombatSheet</animation>
<section class = "basic-combat">
        <%-include('combat-stats.ejs')%>
        <section class = "flex-column">
            <%-include('stat-calculations.ejs')%>
            <%-include('combat-abilities.ejs')%>
            <%-include('combat-spirit-powers.ejs')%>
        </section>
</section>