<section id = "character-birthday" class = "character-box">
    <section class = "character-box-title character-box-section">
        Birthday:
    </section>
    <section class ="character-box-content character-box-section">
        <%=birthday%>
    </section>
</section>