<section id="character-list">
    <%for(let x=0; x<characters.length; x++){%>
        <p class = "characterLink" id = "<%=characters[x].id%>"><%=characters[x].currentInfo.fullName()%></p>
    <%}%>
</section>