<section id = "basic-info">
    <img src=<%=character.avatar%> id="character-image">
    <section id = "character-name" class = "character-box">
        <section id = "character-box-title">
            Character: 
        </section>
        <section id ="character-box-content">
            <%=character.currentInfo.firstName%> <%=character.currentInfo.lastName%>
        </section>
    </section>
</section>

