<animation>down</animation>
<section id ="character">
    <section id="character-navbar">
        <section id = "basic-sheet-button" class = "character-nav-button character-nav-button-unselected">
            Basic Character Sheet
        </section> 
        <section id = "advanced-stat-sheet-button" class = "character-nav-button character-nav-button-unselected">
            Advanced Stat Sheet
        </section> 
        <section id = "combat-sheet-button" class = "character-nav-button character-nav-button-unselected <%if(!combatSheet){%>invisible<%}%>">
            Combat Sheet
        </section> 
        <section class = "character-nav-button character-nav-button-unselected invisible">
            Spiritual Sheet
        </section> 
    </section>
    <div id="sub-character-container-container">
        <div id="sub-character-container">
            <section id="sub-character">

            </section>
        </div>
    </div>  
</section>
<script>
    characterColors = JSON.parse(`<%-JSON.stringify(colors)%>`)
</script>
