<animation>down</animation>
<section id="character-navbar">
    <section id = "basic-character-sheet-button" class = "character-nav-button character-nav-button-unselected">
        Basic Character Sheet
    </section> 
    <section id = "advanced-stat-sheet-button" class = "character-nav-button character-nav-button-unselected invisible">
        Advanced Stat Sheet
    </section> 
    <section id = "combat-character-sheet-button" class = "character-nav-button character-nav-button-unselected invisible">
        Combat Sheet
    </section> 
    <section class = "character-nav-button character-nav-button-unselected invisible">
        Spiritual Sheet
    </section> 
</section>
<div id="sub-characterinfo-container-container">
    <div id="sub-characterinfo-container">
        <section id="sub-characterinfo">

        </section>
    </div>
</div>  
<section id = "character-light">

</section>
