<section id="character-navbar">
    <section id = "basic-character-sheet-button" class = "character-nav-button character-nav-button-unselected">
        Basic Character Sheet
    </section> 
    <section class = "character-nav-button character-nav-button-unselected">
        Advanced Stat Sheet
    </section> 
    <section id = "combat-character-sheet-button" class = "character-nav-button character-nav-button-unselected invisible">
        Combat Sheet
    </section> 
    <section class = "character-nav-button character-nav-button-unselected invisible">
        Spiritual Sheet
    </section> 
</section>
<section id = "character-sheet">

</section>
<section id = "character-light">

</section>
