<section id="combat-stats">
    <section id="basic-stats">
        <section class="empty-name-space"></section>
        <section class="combat-style-box">
            <section class="character-big-title character-box-section">
                Combat Stats
            </section>
            <section class="character-box-title character-box-section ">
                Basic Stats
            </section>
            <section class="combat-style-content-row">
                <section class="character-box-content character-box-section combat-row-half">
                    Health:
                </section>
                <section class="character-box-content character-box-section combat-row-half">
                    <%=health()%>
                </section>
            </section>
            <section class="combat-style-content-row">
                <section class="character-box-content character-box-section combat-row-half">
                    Stamina:
                </section>
                <section class="character-box-content character-box-section combat-row-half">

                </section>
            </section>
        </section>
    </section>
    <section id="combat-style-stats">
        <section id="combat-style-name" class="character-box-section character-big-title">
            Raging Tempest
        </section>
    </section>
    <section id="spirit-power-stats">
        <section class="empty-name-space"></section>
    </section>
</section>