<div id = "contents" class="event-box">
    <div id="title-box-contents" style="padding-top: 20px">
        <p class="boxtext eventType">~ Legends Of Alysteria ~</p>
        <p class="boxtext title">Table of Contents</p>
        <p class="boxtext subtitle">Story Navigation</p>
        <div id="sub-contents-container-container">
            <div id="sub-contents-container">
                <section id="sub-contents">
                    
                </section>
            </div>
        </div>  
    </div>
</div> 
<div id = "contents-height-box" class = "height-box">

</div>
