<div id = "contents" class="event-box">
    <div id="title-box-contents">
        <p class="boxtext eventType">~ Legends Of Alysteria ~</p>
        <p class="boxtext title">Table of Contents</p>
        <p class="boxtext subtitle">Story Navigation</p>
        <div id="sub-contents-container-container">
            <div id="sub-contents-container">
                <section id="sub-contents">
                    
                </section>
            </div>
        </div>  
    </div>
</div> 
<div id = "contents-height-box" class = "height-box">

</div>
<script>
    $("#left-arrow-box").off("click");
    $("#right-arrow-box").off("click");
        $("#left-arrow-box").on("click", async function(){
            if(customData[2].year>0){
                customData[2].year--;
                await loadState(2, "right");
            }
        })
        $("#right-arrow-box").on("click", async function(){
            if(customData[2].year<story.years.length-1){
                customData[2].year++;
                await loadState(2, "left");
            }
        })
    $("#gamemaster-tab").addClass("invisible")
    $("#contents-tab").removeClass("unselected");
    $("#contents-tab").removeClass("invisible");
    $("#story-tab").addClass("unselected")
    loadPlayerColors();
</script>
