<section id = "character-description" class = "character-box">
    <section class = "character-box-title character-box-section border-top-thick border-left-thick border-right-thick">
        Description:
    </section>
    <section class ="character-box-content character-box-section border-top border-left-thick border-right-thick border-bottom-thick">
        <%=returnDescription(player.name)%>
    </section>
</section>