<div id = "main-title">
    <p class="boxtext big-boy big-boy-main-title"></p>
    <div id="title-box-main-title">
        <p class="boxtext story-supertitle">Introductory Segment</p>
        <p class="boxtext story-title">From Shadows Into Light</p>
        <p class="boxtext story-subtitle">Original CHF Story</p>
        <p class="boxtext story-disclaimer">Disclaimer: Turns -3 through -1 follow the story of Keith Zandros, a character from Conquering High Fantasy, LoA's predecessor, and establish his presence in the story. A lot of the writing and organization in these sections are sub-optimal and don't neccessarily reflect the experience of playing LoA, but they establish Keith's place in the world of LoA and I so I elected to include them. Feel free to skip these sections if they aren't of interest to you. Thanks for reading! ^_^</p>
    </div>
    <p class="boxtext big-boy big-boy-main-title"></p>
</div>
<div class = "height-box">

</div>
<background>https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700604135.jpg</background>