<div id = "main-title">
    <p class="boxtext big-boy big-boy-main-title"></p>
    <div id="main-title">
        <p class="boxtext story-supertitle">Message from the GM</p>
        <p class="boxtext story-title">Welcome to Alysteria!</p>
        <p class="boxtext story-subtitle">A Quick Introduction</p>
        <p class="boxtext story-disclaimer">Hi! Thanks for reading LoA!</p>
        <p class="boxtext story-disclaimer">If you're looking for a specific event, please click the Table of Contents in the top left and navigate to where you're trying to read! You can also change the text, transition, sound, and scroll-type settings by clicking the gear in the upper right corner.</p>
        <p class="boxtext story-disclaimer">A Quick Warning: What you're about to read includes gratuitous self-insertion, awkward romance, more awkward H-Scenes, and add it's worst: Underage Reverse Tentacle Rape. Read at your own discretion. Otherwise, thanks for reading! ^_^</p>
    </div>
    <p class="boxtext big-boy big-boy-main-title"></p>
</div>
<div class = "height-box">

</div>
<script>
    $("#left-arrow-box").removeClass("invisible");
    $("#top-arrow-box").removeClass("invisible");
    $("#right-arrow-box").removeClass("invisible");
    $("#gamemaster-tab").addClass("unselected")
    $("#gamemaster-tab").removeClass("invisible");
    $("#contents-tab").addClass("unselected");
    $("#contents-tab").removeClass("invisible");
    $("#story-tab").removeClass("unselected")
    $("#left-arrow-box").off("click");
    $("#left-arrow-box").on("click",function(){
        states = ["story","main-title"]
        databaseObjects = databaseObjects;
        customData = customData;
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Main Title", "/story/main-title");
        loadState(1,"right");
    })
    $("#right-arrow-box").off("click");
    $("#right-arrow-box").on("click",function(){
        states = ["story","turn-title"]
        databaseObjects = databaseObjects;
        customData = customData;
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Turn Title", "/story/turn-title");
        loadState(1,"left");
    })
</script>
<background>https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700604135.jpg</background>