<section id="duel">
    <section id="combatant-1" class="combatant background-1">
        <section class="combatant-avatar-box">
            <img class="combatant-avatar" src="/avatars/Zachary Stormchaser.jpg">
        </section>
        <section class="combatant-name darker-1">Zachary Stormchaser</section>
        <section class="stats light-1">
            <section class = "stat-section-name dark-1">Stats</section>
            <section class="combat-style-box-content light-1">
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Health:
                        </section>
                        <section class="row-cell">
                            72/72
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Stamina:
                        </section>
                        <section class="row-cell">
                            90/90
                        </section>
                    </section>
                </section>
            </section>
            <section class="combat-style-box-content light-1">
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Mana:
                        </section>
                        <section class="row-cell">
                            30/30
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Initiative:
                        </section>
                        <section id="combatant-1-initiative" class="row-cell">
                            0
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="rerolls">

        </section>
    </section>
    <section id="battle-text">

    </section>
    <section id="combatant-2" class="combatant background-2">
        <section class="combatant-avatar-box">
            <img class="combatant-avatar" src="/avatars/Violet Stormchaser.jpg">
        </section>
        <section class="combatant-name darker-2">Violet Stormchaser</section>
        <section class="stats light-2">
            <section class = "stat-section-name dark-2">Stats</section>
            <section class="combat-style-box-content light-2">
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Health:
                        </section>
                        <section class="row-cell">
                            72/72
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Stamina:
                        </section>
                        <section class="row-cell">
                            90/90
                        </section>
                    </section>
                </section>
            </section>
            <section class="combat-style-box-content light-2">
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Mana:
                        </section>
                        <section class="row-cell">
                            30/30
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Initiative:
                        </section>
                        <section id="combatant-2-initiative" class="row-cell">
                            0
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="rerolls">

        </section>
    </section>
</section>
<script>
    let duelIndex = 0;
    const createDuelText = function(index, sentText, phase){
        if(phase=="Initiation Phase"){
            $(`#battle-text`).append(`<p id="dueltext-${index}" class="dueltitle">${sentText}</p>`);
        }else{
            $(`#battle-text`).append(`<p id="dueltext-${index}" class="dueltext">${sentText}</p>`);
        }
        $("#battle-text").scrollTop($("#battle-text").prop("scrollHeight"));
        duelIndex++;
    }
    window.addEventListener("duel-update",function(battle){
        battle = battle.detail;
        $("#combatant-1-initiative").text(battle.combatants[0].initiativeScore);
        $("#combatant-2-initiative").text(battle.combatants[1].initiativeScore);
        createDuelText(duelIndex,battle.updateString, battle.phase);
    })
</script>