<section id="duel">
    <section id="combatant-1" class="combatant background-1">
        <section class="combatant-avatar-box">
            <img class="combatant-avatar" src="/avatars/Zachary Stormchaser.jpg">
        </section>
        <section class="combatant-name darker-1">Zachary Stormchaser</section>
        <section class="stats light-1">
            <section class = "stat-section-name dark-1">Stats</section>
            <section class="rowD light-1">
                <section class="row-cell">
                    <section class="rowD stat-row">
                        <section class="row-cell stat-name">
                            Health:
                        </section>
                        <section class="row-cell">
                            72/72
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="rowD stat-row">
                        <section class="row-cell stat-name">
                            Stamina:
                        </section>
                        <section class="row-cell">
                            90/90
                        </section>
                    </section>
                </section>
            </section>
            <section class="rowD light-1">
                <section class="row-cell">
                    <section class="rowD stat-row">
                        <section class="row-cell stat-name">
                            Mana:
                        </section>
                        <section class="row-cell">
                            30/30
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="rowD stat-row">
                        <section class="row-cell stat-name">
                            Initiative:
                        </section>
                        <section id="combatant-1-initiative" class="row-cell">
                            0
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="rerolls">

        </section>
    </section>
    <section id="battle-text-container">
        <section id="battle-text">

        </section>
        <section id = "duel-height-box" class = "duel-height-box">
    
        </section>
    </section>
    <section id="combatant-2" class="combatant background-2">
        <section class="combatant-avatar-box">
            <img class="combatant-avatar" src="/avatars/Violet Stormchaser.jpg">
        </section>
        <section class="combatant-name darker-2">Violet Stormchaser</section>
        <section class="stats light-2">
            <section class = "stat-section-name dark-2">Stats</section>
            <section class="rowD light-2">
                <section class="row-cell">
                    <section class="rowD stat-row">
                        <section class="row-cell stat-name">
                            Health:
                        </section>
                        <section class="row-cell">
                            72/72
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="rowD stat-row">
                        <section class="row-cell stat-name">
                            Stamina:
                        </section>
                        <section class="row-cell">
                            90/90
                        </section>
                    </section>
                </section>
            </section>
            <section class="rowD light-2">
                <section class="row-cell">
                    <section class="rowD stat-row">
                        <section class="row-cell stat-name">
                            Mana:
                        </section>
                        <section class="row-cell">
                            30/30
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="rowD stat-row">
                        <section class="row-cell stat-name">
                            Initiative:
                        </section>
                        <section id="combatant-2-initiative" class="row-cell">
                            0
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="rerolls">

        </section>
    </section>
</section>
<script>
    duelWriteIndex = 0;
    duelIndex = 0;
    duelText = [];
    duelPageNum = 0;
    duelTyping = false;

    createDuelText = async function(sentText, phase){
        duelText[duelWriteIndex]=sentText;
        duelWriteIndex++;
    }
    window.addEventListener("duel-update",function(battle){
        console.log("4")
        battle = battle.detail;
        $("#combatant-1-initiative").text(battle.combatants[0].initiativeScore);
        $("#combatant-2-initiative").text(battle.combatants[1].initiativeScore);
        createDuelText(battle.updateString, battle.phase);
        duelUpdating = false;
    })
    window.addEventListener("duel-progress",async function(){
        phaseClass = "dueltext";
        if(duelIndex==0){
            phaseClass = "dueltitle";
        }
        let sentText = duelText[duelIndex];
        if(sentText.includes("<span")){
            let fullHtml = $("<section>" + sentText + "</section>");
            //create a forloop that goes through all the spans and then send it as othertext, look at typewriter its not that hard
        }
        $(`#duel-height-box`).append(`<p id="duel-height-check-${duelIndex}" class="${phaseClass}">${duelText[duelIndex]}</p>`);
        $('#battle-text').append(`<p id="dueltext-${duelIndex}" style="height: ${$(`#duel-height-check-${duelIndex}`).outerHeight(true)}px" class="${phaseClass}"></p>`);
        $("#battle-text").scrollTop($("#battle-text").prop("scrollHeight"));
        duelTyping = true;
        console.log("1")
        await duelTypeWriter(`#battle-text`,"", 0, duelText[duelIndex], duelIndex, `#dueltext-${duelIndex}`, 1) 
        console.log("3")
        duelTyping = false;
        duelIndex++;
    })
    const duelTypeWriter = async function(appendBox, returnString, i, txt, sentIndex, id, speedMod, otherText) {
    return new Promise((resolve) =>{
        if (i < txt.length) {
            returnChar = txt.charAt(i);
            returnString += returnChar;
        for(let x=2; x<=speedMod; x++){
            if(i+x-1<txt.length)
            returnString += txt.charAt(i+x-1);
            else
            i=txt.length;
        }
        $(id).html(returnString) 
        if(i!=txt.length)
        i+=speedMod;
        }
        if(i==txt.length){
            resolve();
        }else{
            let timeout = setTimeout(function(){duelTypeWriter(appendBox, returnString, i, txt, sentIndex, id, speedMod, otherText).then(resolve)}, user.settings.textSpeed)
            if(duelIndex!=sentIndex||duelTypeInterrupt){
                console.log("2")
                if(otherText){
                    if(otherText.text2){
                        $(otherText.text2.id).text(otherText.text2.text);
                    }
                    if(otherText.text3){
                        $(otherText.text3.id).text(otherText.text3.text);
                    }
                    if(otherText.text4){
                        $(otherText.text4.id).text(otherText.text4.text);
                    }
                }
                $(`#dueltext-${sentIndex}`).css("height",`${$(`#duel-height-check-${sentIndex}`).outerHeight(true)}px`)
                $(id).html(txt) 
                clearTimeout(timeout);
                duelTyping = false;
                duelIndex++;
                duelTypeInterrupt = false;
            }else if(eventInterrupt){
                clearTimeout(timeout);
            }
        }
    })
}
</script>