<section id="duel">
    <section id="combatant-1" class="combatant background-1">
        <section class="combatant-avatar-box">
            <img class="combatant-avatar" src="/avatars/Zachary Stormchaser.jpg">
        </section>
        <section class="combatant-name darker-1">Zachary Stormchaser</section>
        <section class="stats light-1">
            <section class = "stat-section-name dark-1">Stats</section>
            <section class="row">
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Health:
                        </section>
                        <section class="row-cell">
                            72/72
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Stamina:
                        </section>
                        <section class="row-cell">
                            90/90
                        </section>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Mana:
                        </section>
                        <section class="row-cell">
                            3/3
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Initiative:
                        </section>
                        <section class="row-cell">
                            44
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="rerolls">

        </section>
    </section>
    <section id="battle-text">

    </section>
    <section id="combatant-2" class="combatant background-2">
        <section class="combatant-avatar-box">
            <img class="combatant-avatar" src="/avatars/Elena Jeánne Pér.jpg">
        </section>
        <section class="combatant-name darker-2">Elena Jeánne Pér</section>
        <section class="stats light-2">
            <section class = "stat-section-name dark-2">Stats</section>
            <section class="row">
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Health:
                        </section>
                        <section class="row-cell">
                            72/72
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Stamina:
                        </section>
                        <section class="row-cell">
                            90/90
                        </section>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Mana:
                        </section>
                        <section class="row-cell">
                            3/3
                        </section>
                    </section>
                </section>
                <section class="row-cell">
                    <section class="row stat-row">
                        <section class="row-cell stat-name">
                            Initiative:
                        </section>
                        <section class="row-cell">
                            44
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="rerolls">

        </section>
    </section>
</section>