<div id = "event">
    <p class="boxtext big-boy big-boy-event"></p>
    <div id="title-box-event">
        <p class="boxtext eventType">~ <%=type%> ~</p>
        <p class="boxtext title"><%=title%></p>
        <p class="boxtext subtitle"><%=subtitle%></p>
    </div>
    <p class="boxtext big-boy big-boy-event"></p>
</div> 
<animation>left</animation>
<script>
    let event = JSON.parse(`<%-JSON.stringify(text)%>`); 
</script>