<section id = "character-fate-rerolls" class = "character-box">
    <section class = "character-box-title character-box-section border-top-thick border-left-thick border-right-thick border-bottom">
        Fate Rerolls:
    </section>
    <section class ="character-box-content character-box-section border-left-thick border-right-thick border-bottom-thick">
        <%=fateRerolls.available%>/<%=fateRerolls.max%>
    </section>
</section>