<section id="home">
    <div id="main-title">
        <p class="boxtext story-supertitle">Not! Conquering High Fantasy</p>
        <p class="boxtext story-title">Legends of Alysteria</p>
        <p class="boxtext story-subtitle">A Game of Legends, Lords, and Luck</p>
    </div>
    <div class="user-name">
        Logged In As: <%=user.fullName()%>
    </div>
    <div class="home-select" id="character-select-button">
        Character Select
    </div>
<!--     <div class="home-select" id="progress-update-button">
        Progress Update
    </div> -->
    <div class="home-select" id="home-settings-button">
        Settings
    </div>
    <div id="exit" class="home-select">
        Exit Game
    </div>
</section>
<script>
    document.documentElement.style.setProperty('--light', "#a5a5a5");
    document.documentElement.style.setProperty('--dark', "#818181");
    document.documentElement.style.setProperty('--darker', "#727272");
    document.documentElement.style.setProperty('--highlight', "#5f5b50");
    document.documentElement.style.setProperty('--background', "#2e2b28");
    if(song){
        song.play();
    }else{
        if(!document.getElementById("Alysteria")){
            $("body").append(`<audio id="Alysteria" loop src="/sounds/Alysteria.mp3"></audio>`);
        }
        if(!document.getElementById("Alysteria-Soft")){
            $("body").append(`<audio id="Alysteria-Soft" loop src="/sounds/Alysteria Soft.mp3"></audio>`);
        }
        if(!document.getElementById("Alysteria-Pure")){
            $("body").append(`<audio id="Alysteria-Pure" loop src="/sounds/Alysteria Pure.mp3"></audio>`);
        }
        if(!document.getElementById("Alysteria-Mysterious")){
            $("body").append(`<audio id="Alysteria-Mysterious" loop src="/sounds/Alysteria Mysterious.mp3"></audio>`);
        }
        if(!document.getElementById("Alysteria-Chill")){
            $("body").append(`<audio id="Alysteria-Chill" loop src="/sounds/Alysteria Chill.mp3"></audio>`);
        }
        let songNum = parseInt(Math.random()*13);
        if(songNum==0||songNum==1||songNum==2||songNum==3){
            song = document.getElementById("Alysteria");
        }
        if(songNum==4||songNum==5||songNum==6){
            song = document.getElementById("Alysteria-Soft");
        }
        if(songNum==7){
            song = document.getElementById("Alysteria-Pure");
        }
        if(songNum==8||songNum==9){
            song = document.getElementById("Alysteria-Mysterious");
        }
        if(songNum==10||songNum==11||songNum==12){
            song = document.getElementById("Alysteria-Chill");
        }
        song.volume = user.settings.musicVolume;
        let played = song.play();
                if(played !== undefined){
                    played.then(_ =>{
                    }).catch(error =>{
                        $('body').on("click", function(){
                            song.play();
                        })
                    })
                }
    }
    buttons.characterSelectClick = function(){
        $("#character-select-button").on("click", async function(){
            states = ["main","character-select"];
            databaseObjects = [false,false];
            customdata = [false,false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Character Select", "/main/character-select");
            await loadState(1);
            $("#character-select-button").off("click");
        })
    }
    buttons.homeSettingsClick = function(){
        $("#home-settings-button").on("click", async function(){
            setCookieStates();
            states = ["main","settings"];
            databaseObjects = [false,false];
            customdata = [false,false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Settings", "/main/settings");
            await loadState(1);
            $("#home-settings-button").off("click");
        })
    } 
    buttons.progressReportClick = function(){
        $("#progress-report-button").on("click", async function(){
            setCookieStates();
            states = ["main","progress-report"];
            databaseObjects = [false,false];
            customdata = [false,false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Progress Report", "/main/progress-report");
            await loadState(1);
            $("#progress-report-button").off("click");
        })
    } 
    buttons.exitClick = function(){
        $("#exit").on("click", async function(){
            states = ["start"];
            databaseObjects = [false];
            customdata = [false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Start", "/");
            await loadStates();
        })
    }
    buttons.characterSelectClick();
    buttons.progressReportClick();
    buttons.homeSettingsClick();
    buttons.exitClick();
</script>
<animation>right</animation>