<section id="home">
    <div id="main-title">
        <p class="boxtext story-supertitle">Not! Conquering High Fantasy</p>
        <p class="boxtext story-title">Legends of Alysteria</p>
        <p class="boxtext story-subtitle">A Game of Legends, Lords, and Luck</p>
    </div>
    <div class="user-name">
        Logged In As: <%=user.fullName()%>
    </div>
    <div class="home-select" id="character-select-button">
        Character Select
    </div>
    <div class="home-select" id="home-settings-button">
        Settings
    </div>
    <div id="exit" class="home-select">
        Exit Game
    </div>
</section>
<script>
    document.documentElement.style.setProperty('--light', "#a5a5a5");
    document.documentElement.style.setProperty('--dark', "#818181");
    document.documentElement.style.setProperty('--darker', "#727272");
    document.documentElement.style.setProperty('--highlight', "#5f5b50");
    document.documentElement.style.setProperty('--background', "#2e2b28");
    buttons.characterSelectClick = function(){
        $("#character-select-button").on("click", async function(){
            states = ["main","character-select"];
            databaseObjects = [false,false];
            customdata = [false,false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Character Select", "/main/character-select");
            await loadState(1);
            $("#character-select-button").off("click");
        })
    }
    buttons.homeSettingsClick = function(){
        $("#home-settings-button").on("click", async function(){
            states = ["main","settings"];
            databaseObjects = [false,false];
            customdata = [false,false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Settings", "/main/settings");
            await loadState(1);
            $("#home-settings-button").off("click");
        })
    } 
    buttons.exitClick = function(){
        $("#exit").on("click", async function(){
            states = ["start"];
            databaseObjects = [false];
            customdata = [false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Start", "/");
            await loadStates();
        })
    }
    buttons.characterSelectClick();
    buttons.homeSettingsClick();
    buttons.exitClick();
</script>
<animation>right</animation>