<section id = "character-info-level" class = "character-box">
    <section class = "character-box-title character-box-section">
        Information Level: 
    </section>
    <section class ="character-box-content character-box-section">
        Not Yet Implemented
    </section>
</section>