<div id = "main">
    <component>nav</component>
    <%if(player){%>
    <component>subnav</component>
    <%}%>
    <div id="sub-main-container-container">
        <div id="sub-main-container">
            <section id="sub-main">

            </section>
        </div>
    </div>  
</div>
<script>
</script>
<animation>down</animation>
