<div id = "event">
    <p class="boxtext big-boy big-boy-main-title"></p>
    <div id="title-box-main-title">
        <p class="boxtext story-supertitle">Not! Conquering High Fantasy</p>
        <p class="boxtext story-title">Legends of Alysteria</p>
        <p class="boxtext story-subtitle"><%=name%></p>
    </div>
    <p class="boxtext big-boy big-boy-main-title"></p>
</div>
<background>https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700604135.jpg</background>