<div id = "main">
    <component>nav</component>
    <div id="sub-main-container-container">
        <div id="sub-main-container">
            <section id="sub-main">

            </section>
        </div>
    </div>  
</div>
<script>
    <%if(user){%>
    <%for(let x=0; x<user.playerCharacters.length; x++){%>
        $("head").append(`<link rel="preload" as="image" href="/images/<%=user.playerCharacters[x].background%>.jpg">`);
    <%}%>
    <%}%>
</script>
<animation>down</animation>
