<div id = "main-title">
    <p class="boxtext big-boy big-boy-main-title"></p>
    <div id="main-title">
        <p class="boxtext story-supertitle">Not! Conquering High Fantasy</p>
        <p class="boxtext story-title">Legends of Alysteria</p>
        <p class="boxtext story-subtitle"><%=story.name%></p>
    </div>
    <p class="boxtext big-boy big-boy-main-title"></p>
</div>
<div class = "height-box">

</div>
<script>
    $("#left-arrow-box").off("click");
    $("#right-arrow-box").off("click");
    $("#left-arrow-box").addClass("invisible");
    $("#top-arrow-box").removeClass("invisible");
    $("#right-arrow-box").removeClass("invisible");
    $("#right-arrow-box").on("click",function(){
        while(!story.years[customData[1].year].seasons[customData[1].season].regionPhases.length){
            if(customData[1].season<3){
                customData[1].season++
                customData[1].turn++;
            }else{
                customData[1].year++
                customData[1].turn++;
                customData[1].season = 0;
            }
        }
        if(databaseObjects[0][0].id == "613914ffd4d10a12926304cd"||"62373ba6896942d7c9927fce"){
            states = ["story","disclaimer"]
            databaseObjects = databaseObjects;
            customData = customData;
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Disclaimer", "/story/disclaimer");
            loadState(1,"left");  
        }else{
            states = ["story","turn-title"]
            databaseObjects = databaseObjects;
            customData = customData;
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Turn Title", "/story/turn-title");
            loadState(1,"left");
        }
    })
    customData[1] = {year:0,turn:-3,season:0}
    $("#gamemaster-tab").addClass("unselected")
    $("#gamemaster-tab").removeClass("invisible");
    $("#contents-tab").addClass("unselected");
    $("#contents-tab").removeClass("invisible");
    $("#story-tab").removeClass("unselected")
    activateTitleClick();
</script>
<background>/images/<%=player.background%>.jpg</background>