<div id = "main-title">
    <p class="boxtext big-boy big-boy-main-title"></p>
    <div id="main-title">
        <p class="boxtext story-supertitle">Not! Conquering High Fantasy</p>
        <p class="boxtext story-title">Legends of Alysteria</p>
        <p class="boxtext story-subtitle"><%=story.name%></p>
    </div>
    <p class="boxtext big-boy big-boy-main-title"></p>
</div>
<div class = "height-box">

</div>
<script>
    $("#left-arrow-box").off("click");
    $("#right-arrow-box").off("click");
    $("#left-arrow-box").addClass("invisible");
    $("#top-arrow-box").removeClass("invisible");
    $("#right-arrow-box").removeClass("invisible");
    $("#right-arrow-box").on("click",function(){
        states = ["story","turn-title"]
        databaseObjects = databaseObjects;
        customData = customData;
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Turn Title", "/story/turn-title");
        loadState(1,"left");
    })
    customData[1] = {year:0,turn:-3,season:0}
    $("#gamemaster-tab").addClass("unselected")
    $("#gamemaster-tab").removeClass("invisible");
    $("#contents-tab").addClass("unselected");
    $("#contents-tab").removeClass("invisible");
    $("#story-tab").removeClass("unselected")
    activateTitleClick();
</script>
<background>/images/<%=player.background%>.jpg</background>