<section id = "character-mana" class = "character-box">
    <section class = "character-box-title character-box-section border-top-thick border-right-thick border-bottom">
        Mana:
    </section>
    <section class ="character-box-content character-box-section border-right-thick border-bottom-thick">
        <%=mana.available%>/<%=mana.max%>
    </section>
</section>