<section id = "character-name" class = "character-box">
    <section class = "character-box-title character-box-section">
        Character: 
    </section>
    <section class ="character-box-content character-box-section">
        <%=fullName()%>
    </section>
</section>