<nav>
    <section id = "nav-title" class="clickable">
        Legends of Alysteria
    </section>
    <%if(typeof user != "undefined"&& user != false){%>
        <section id = "account-info" class="clickable">
            <%=user.fullName()%>
        </section>
        <section id = "account-options">
            <%for(let x=0; x<user.playerCharacters.length; x++){%>
                <div id="<%=user.playerCharacters[x].id%>"class="account-option clickable character-button">
                    <%=user.playerCharacters[x].name%>
                </div>
            <%}%>
            <section id = "main-settings-button" class = "account-option clickable">
                Settings
            </section>
            <section id = "logout-button" class = "account-option clickable">
                Logout
            </section>
        </section>
    <%}else{%>
        <section id = "nav-buttons">
            <button class = "nav-button" id="login-button">Log In</button>
            <button class = "nav-button" id="register-button">Register</button>
        </section>
    <%}%>
</nav>
<script>
    buttons.navTitleClick = function(){
        $("#nav-title").on("click", async function(){
            if(states[1]!="home"){
                states = ["main","home"];
                databaseObjects = [false,false];
                customdata = [false,false];       
                window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Home", "/main/home");
                await loadState(1);
            }
        })
    }
    buttons.accountInfoClick = function(){
        $("#account-info").on("click", async function(){
            $("#account-options").css("display","block");
            $("#account-info").css("background-color","var(--darker)")
            $("#account-info").off("click");
            $("#account-info").on("click",async function(){
                $("#account-options").css("display","none");
                $("#account-info").css("background-color","var(--dark)")
                $("#account-info").off("click");
                buttons.accountInfoClick();
            })
        })
    }
    buttons.mainSettingsClick = function(){
        $("#main-settings-button").on("click", async function(){
            setInfinityCookie("origin-states",states);
            setInfinityCookie("origin-databaseObjects",JSON.stringify(databaseObjects));
            setInfinityCookie("origin-customData",JSON.stringify(customData));
            //Deactivate Menu
            $("#account-options").css("display","none");
            $("#account-info").css("background-color","var(--dark)")
            $("#account-info").off("click");
            buttons.accountInfoClick();

            if(states[1]!="settings"){
                states = ["main","settings"];
                databaseObjects = [false,false];
                customdata = [false,false];       
                window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Settings", "/main/settings");
                await loadState(1);
            }
        })
    }
    buttons.logoutClick = function(){
        $("#logout-button").on("click", async function(){
            //Deactivate Menu
            $("#account-options").css("display","none");
            $("#account-info").css("background-color","var(--dark)")
            $("#account-info").off("click");
            buttons.accountInfoClick();

            await logout();
            states = ["main","login"];
            databaseObjects = [false,false];
            customdata = [false,false];       
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Login", "/main/login");
            await loadState(0,"left")
            await loadState(1,"up");
        })
    }
    buttons.loginButtonClick = function(){
        $("#login-button").on("click", async function(){
            states = ["main","login"];
            databaseObjects = [false,false];
            customdata = [false,false];       
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Login", "/main/login");
            await loadState(1);
        })
    }
    buttons.registerButtonClick = function(){
        $("#register-button").on("click", async function(){
            states = ["main","register"];
            databaseObjects = [false,false];
            customdata = [false,false];       
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Register", "/main/register");
            await loadState(1);
        })
    }
    buttons.characterButtonsClick = function(){
        $(".character-button").on("click", async function(){
            //Deactivate Menu
            $("#account-options").css("display","none");
            $("#account-info").css("background-color","var(--dark)")
            $("#account-info").off("click");
            buttons.accountInfoClick();
            if(equalArrays(states,["main","character-home"])&&$(this).attr("id")==databaseObjects[1][0].id){

            }else{
                states = ["main","character-home"];
                databaseObjects = [false, [{name: "Player",id: $(this).attr("id")}]];
                customData = [false,false];
                window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, $(this).text(), "/main/character-home");
                await loadState(1);
            }
        })
    }
    buttons.navTitleClick();
    buttons.accountInfoClick();
    buttons.mainSettingsClick();
    buttons.logoutClick();
    buttons.loginButtonClick();
    buttons.registerButtonClick();
    buttons.characterButtonsClick();
</script>