<%if(years[currentYear].seasons[currentSeason].regionPhases[region].rulerPhases[phase].name!="Keith Zandros"){%>
<div id = "player-title">
    <p class="boxtext big-boy big-boy-player-title"></p>
    <div id="title-box-player-title">
        <p class="boxtext story-supertitle">Legends of Alysteria</p>
            <p class="boxtext story-title"><%=years[currentYear].seasons[currentSeason].regionPhases[region].rulerPhases[phase].name%></p>
            <%if(years[currentYear].seasons[currentSeason].regionPhases[region].rulerPhases[phase].player){%>
            <p class="boxtext story-subtitle">Player: <%=years[currentYear].seasons[currentSeason].regionPhases[region].rulerPhases[phase].player%></p>
            <%}%>
            <p class="boxtext story-subsubtitle"><%=years[currentYear].seasons[currentSeason].regionPhases[region].name%></p>
    </div>
    <p class="boxtext big-boy big-boy-player-title"></p>
</div> 
<div class = "height-box">

</div>
<background>https://media.discordapp.net/attachments/948762262829666325/948765394330595388/Book.jpg</background>
<%}else{%>
    <div id = "main-title">
        <p class="boxtext big-boy big-boy-main-title"></p>
        <div id="title-box-main-title">
            <p class="boxtext story-supertitle">Introductory Segment</p>
            <p class="boxtext story-title">From Shadows Into Light</p>
            <p class="boxtext story-subtitle">Original CHF Story</p>
            </div>
        <p class="boxtext big-boy big-boy-main-title"></p>
    </div>
    <div class = "height-box">
    
    </div>
    <background>https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700604135.jpg</background>
<%}%>