<div id = "player-title">
    <p class="boxtext big-boy big-boy-player-title"></p>
    <div id="title-box-player-title">
        <p class="boxtext story-supertitle">Legends of Alysteria</p>
            <p class="boxtext story-title"><%=years[currentYear].seasons[currentSeason].regionPhases[region].rulerPhases[phase].name%></p>
            <%if(years[currentYear].seasons[currentSeason].regionPhases[region].rulerPhases[phase].player){%>
            <p class="boxtext story-subtitle">Player: <%=years[currentYear].seasons[currentSeason].regionPhases[region].rulerPhases[phase].player%></p>
            <%}%>
            <p class="boxtext story-subsubtitle"><%=years[currentYear].seasons[currentSeason].regionPhases[region].name%></p>
    </div>
    <p class="boxtext big-boy big-boy-player-title"></p>
</div> 
<div class = "height-box">

</div>
<background>https://media.discordapp.net/attachments/948762262829666325/948765394330595388/Book.jpg</background>