<%if(story.years[year].seasons[season].regionPhases[regionPhase].rulerPhases[rulerPhase].name!="Keith Zandros"){%>
<div id = "player-title">
    <p class="boxtext big-boy big-boy-player-title"></p>
    <div>
        <p class="boxtext story-supertitle">Legends of Alysteria</p>
            <p class="boxtext story-title"><%=story.years[year].seasons[season].regionPhases[regionPhase].rulerPhases[rulerPhase].name%></p>
            <%if(story.years[year].seasons[season].regionPhases[regionPhase].rulerPhases[rulerPhase].player){%>
            <p class="boxtext story-subtitle">Player: <%=story.years[year].seasons[season].regionPhases[regionPhase].rulerPhases[rulerPhase].player%></p>
            <%}%>
            <p class="boxtext story-subsubtitle"><%=story.years[year].seasons[season].regionPhases[regionPhase].name%></p>
    </div>
    <p class="boxtext big-boy big-boy-player-title"></p>
</div> 
<div class = "height-box">

</div>
<background>https://media.discordapp.net/attachments/948762262829666325/948765394330595388/Book.jpg</background>
<%}else{%>
    <div id = "main-title">
        <p class="boxtext big-boy big-boy-main-title"></p>
        <div>
            <p class="boxtext story-supertitle">Introductory Segment</p>
            <p class="boxtext story-title">From Shadows Into Light</p>
            <p class="boxtext story-subtitle">Original CHF Story</p>
            </div>
        <p class="boxtext big-boy big-boy-main-title"></p>
    </div>
    <div class = "height-box">
    
    </div>
    <background>https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700604135.jpg</background>
<%}%>
<script>
    $("#left-arrow-box").removeClass("invisible");
    $("#left-arrow-box").off("click");
    $("#left-arrow-box").on("click",function(){
        states = ["story","region-title"]
        databaseObjects = databaseObjects;
        customData = customData;
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Region Title", "/story/region-title");
        loadState(1,"right");
    })
    $("#right-arrow-box").off("click");
    $("#right-arrow-box").on("click", function(){
        states = ["story","event"]
        customData[1].eventIndex = 0;
        customData = [customData[0],customData[1]];
        let event = story.years[customData[1].year].seasons[customData[1].season].regionPhases[customData[1].regionPhase].rulerPhases[customData[1].rulerPhase].events[0];
        let alreadyExists = false;
        for(let x=0; x<databaseObjects[1].length; x++){
            if(databaseObjects[1][x].name=="Event"){
                alreadyExists = true;
                databaseObjects[1][x].id = event;
            }
        }
        if(!alreadyExists){
            databaseObjects[1].push({name:"Event",id:event})
        }
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Event", "/story/event");
        loadState(1,"left");
    })
</script>