<section id = "character-profession" class = "character-box">
    <section class = "character-box-title character-box-section border-top-thick border-right-thick border-left-thick border-bottom">
        Profession:
    </section>
    <section class ="character-box-content character-box-section border-left-thick border-bottom-thick border-right-thick">
        <%=profession%>
    </section>
</section>