<section id="home">
    <div id="main-title">
        <p class="boxtext story-title">Progress Report</p>
    </div>
    <div class="user-name">
        Current User: <%=user.fullName()%>
    </div>
</section>