<div id = "register">
    <form class="form" id="registration-form">
        <p class="center-form form-title">Register</p>
        <p class="right-form">Username: <input id="username-input" type="text" name="username" class="form-input"></p>
        <p class="right-form">Password: <input id="password-input" type="password" name="password" class="form-input"></p>
        <p class="right-form">First Name: <input id="firstname-input" type="text" name="firstName" class="form-input"></p>
        <p class="right-form">Last Name: <input id="lastname-input" type="text" name="lastName" class="form-input"></p>
        <p class="center-form"><input type="submit" value="Register" class="submit-button"></p>
    </form>
</div>
<script>
    $("#registration-form").submit(async function(e){
        e.preventDefault();
        let attempt = await register($("#username-input").val(),$("#password-input").val(),$("#firstname-input").val(),$("#lastname-input").val())
        if(attempt.registered){
            user = attempt.user;
            states = ["main","home"]
            databaseObjects = [false,false];
            customData = [false,false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Home", "/main/home");
            await loadState(0,"right")
            await loadState(1, "up");
        }else{
            if($("#error-message").length){
                $("#error-message").text(attempt.error)
            }else{
                $("#registration-form").append(`<p id='error-message'>${attempt.error}</p>`) 
            }
        }
    })
</script>
<animation>down</animation>
