<section class="meta-trait">
    <section class="trait-type character-big-title character-box-section knowledge-grid-title"><%=name%>!</section>
    <section class="meta-trait-content">
        <section class="trait-description character-box-content character-box-section"><%=rewards%></section>
    </section>
</section>
<script>
    $("head").append($("<link id='appended-style' rel='stylesheet' type='text/css' />").attr('href',`/styles/character.css`))
</script>