<section id="settings" class="textbox">
    <div>
        Text Speed: 
        <form class="slider-form" id="textSpeed">
            <input type="range" min="1" max="99" value="<%=100-user.settings.textSpeed%>" class="slider" id="textSpeed-slider">
        </form>
    </div>
    <div>
        Page Transition Speed:
        <form class="slider-form" id="pageSpeed">
            <input type="range" min="0" max="20" value="<%=20-(user.settings.pageSpeed/100)%>" class="slider" id="pageSpeed-slider">
        </form>
    </div>
    <div>
        Music Volume
        <form class="slider-form" id="musicVolume">
            <input type="range" min="0" max="50" value="<%=(user.settings.musicVolume*100)%>" class="slider" id="musicVolume-slider">
        </form>
    </div>
    <div>
        Sound Volume
        <form class="slider-form" id="soundVolume">
            <input type="range" min="0" max="50" value="<%=(user.settings.soundVolume*100)%>" class="slider" id="soundVolume-slider">
        </form>
    </div>
    <div id="testSound" class = "clickable menu-item">
        Test Sound Effect <i class="fas fa-music"></i>
    </div>
    <%if(typeof variable !== 'undefined'){%>
        <div id="return-home" class="clickable menu-item">
            Return to Home Page
        </div>
    <%}%>
</section>
<script>
    $("#textSpeed-slider").on("change", function(){
        console.log((100 - $(this).val()))
        user.settings.textSpeed = (100 - $(this).val());
        $.ajax({
            method: "POST",
            url: `/update/user/${user._id}`,
            data: user,
            success: (res)=>{
            }
        }) 
    })
    $("#pageSpeed-slider").on("change", function(){
        console.log((20-$(this).val())*100)
        user.settings.pageSpeed = (20-$(this).val())*100;
        $.ajax({
            method: "POST",
            url: `/update/user/${user._id}`,
            data: user,
            success: (res)=>{
            }
        }) 
    })
    $("#musicVolume-slider").on("change", function(){
        console.log($(this).val()/100)
        user.settings.musicVolume = $(this).val()/100;
        $.ajax({
            method: "POST",
            url: `/update/user/${user._id}`,
            data: user,
            success: (res)=>{
            }
        }) 
        if(song){
            song.volume = user.settings.musicVolume;
        }
    })
    $("#soundVolume-slider").on("change", function(){
        console.log($(this).val()/100)
        user.settings.soundVolume = $(this).val()/100;
        $.ajax({
            method: "POST",
            url: `/update/user/${user._id}`,
            data: user,
            success: (res)=>{
            }
        }) 
    })
    $("#testSound").on("click", function(){
        playSound("Test Sound")
    })
    $("#return-home").on("click",function(){
        window.location.href = "/main/home"
    })
</script>