<section id="settings" class="textbox">
    <div class="setting">
        Text Speed: 
        <form class="slider-form" id="textSpeed">
            <input type="range" min="1" max="99" value="<%=100-user.settings.textSpeed%>" class="slider" id="textSpeed-slider">
        </form>
    </div>
    <div class="setting">
        Page Transition Speed:
        <form class="slider-form" id="pageSpeed">
            <input type="range" min="0" max="20" value="<%=20-(user.settings.pageSpeed/100)%>" class="slider" id="pageSpeed-slider">
        </form>
    </div>
    <div class="setting">
        Music Volume
        <form class="slider-form" id="musicVolume">
            <input type="range" min="0" max="50" value="<%=(user.settings.musicVolume*100)%>" class="slider" id="musicVolume-slider">
        </form>
    </div>
    <div class="setting">
        Sound Volume
        <form class="slider-form" id="soundVolume">
            <input type="range" min="0" max="50" value="<%=(user.settings.soundVolume*100)%>" class="slider" id="soundVolume-slider">
        </form>
    </div>
    <div class="setting">
        Use Page Scrolling?
        <form class="checkbox-form" id="pageScroll">
            <input type="checkbox" value="pageScroll" class="checkbox" id="pageScroll-checkbox")>
        </form>
    </div>
    <div id="testSound" class = "clickable menu-item setting">
        Test Sound Effect <i class="fas fa-music"></i>
    </div>
</section>
<script>
    if(user.settings.pageScroll){
        $("#pageScroll-checkbox").attr('checked', 'checked');
    }
    if(typeof story != "undefined"){
        $("#settings").addClass("external");
        $("#settings").addClass("invisible");
        $("#settings").append(`<div id="return-home" class="clickable menu-item setting">
            Return to Home Page
        </div>`)
    }else{
        $("#settings").append(`<div id="return-home-2" class="clickable menu-item setting">
            Return
        </div>`)  
    }
    $("#textSpeed-slider").on("change", function(){
        console.log((100 - $(this).val()))
        user.settings.textSpeed = (100 - $(this).val());
        $.ajax({
            method: "POST",
            url: `/update/user/${user._id}`,
            data: user,
            success: (res)=>{
            }
        }) 
    })
    $("#pageSpeed-slider").on("change", function(){
        console.log((20-$(this).val())*100)
        user.settings.pageSpeed = (20-$(this).val())*100;
        $.ajax({
            method: "POST",
            url: `/update/user/${user._id}`,
            data: user,
            success: (res)=>{
            }
        }) 
    })
    $("#musicVolume-slider").on("change", function(){
        console.log($(this).val()/100)
        user.settings.musicVolume = $(this).val()/100;
        $.ajax({
            method: "POST",
            url: `/update/user/${user._id}`,
            data: user,
            success: (res)=>{
            }
        }) 
        if(song){
            song.volume = user.settings.musicVolume;
        }
    })
    $("#soundVolume-slider").on("change", function(){
        console.log($(this).val()/100)
        user.settings.soundVolume = $(this).val()/100;
        $.ajax({
            method: "POST",
            url: `/update/user/${user._id}`,
            data: user,
            success: (res)=>{
            }
        }) 
    })
    $("#pageScroll-checkbox").on("change", async function(){
        if(this.checked){
            user.settings.pageScroll = true; 
        }else{
            user.settings.pageScroll = false;
        }
        $.ajax({
            method: "POST",
            url: `/update/user/${user._id}`,
            data: user,
            success: (res)=>{
            }
        })
        $("#settings-button").on("click", function(){
            loadState(1);
        })
    })
    $("#testSound").on("click", function(){
        playSound("Test Sound")
    })
    $("#return-home").on("click",async function(){
        states = ["main","home"];
        window.history.pushState({states:states,data:data}, "Home Page", "/main/home");
        $("#settings-button").click();
        $("#settings-button").addClass("external");
        $("#settings-button").addClass("invisible");
        setTimeout(async function(){
            deactivateButtons();
            await loadStates();
            activateButtons();
        },user.settings.pageSpeed)
    })
    $("#return-home-2").on("click",async function(){
        window.history.back();
    })
</script>