<section id="settings" class="textbox">
    <div class="setting">
        Text Speed: 
        <form class="slider-form" id="textSpeed">
            <input type="range" min="1" max="99" value="<%=100-user.settings.textSpeed%>" class="slider" id="textSpeed-slider">
        </form>
    </div>
    <div class="setting">
        Page Transition Speed:
        <form class="slider-form" id="pageSpeed">
            <input type="range" min="0" max="20" value="<%=20-(user.settings.pageSpeed/100)%>" class="slider" id="pageSpeed-slider">
        </form>
    </div>
    <div class="setting">
        Music Volume
        <form class="slider-form" id="musicVolume">
            <input type="range" min="0" max="50" value="<%=(user.settings.musicVolume*100)%>" class="slider" id="musicVolume-slider">
        </form>
    </div>
    <div class="setting">
        Sound Volume
        <form class="slider-form" id="soundVolume">
            <input type="range" min="0" max="50" value="<%=(user.settings.soundVolume*100)%>" class="slider" id="soundVolume-slider">
        </form>
    </div>
    <div class="setting">
        Use Page Scrolling?
        <form class="checkbox-form" id="pageScroll">
            <input type="checkbox" value="pageScroll" class="checkbox" id="pageScroll-checkbox")>
        </form>
    </div>
    <div id="testSound" class = "clickable menu-item setting">
        Test Sound Effect <i class="fas fa-music"></i>
    </div>
    <div id="return" class="clickable menu-item setting">
        Return
    </div>
</section>
<script>
    if(user.settings.pageScroll){
        $("#pageScroll-checkbox").attr('checked', 'checked');
    }
    $("#textSpeed-slider").on("change", function(){
        user.settings.textSpeed = (100 - $(this).val());
        updateDatabaseObject("User",user._id,user);
    })
    $("#pageSpeed-slider").on("change", function(){
        console.log((20-$(this).val())*100)
        user.settings.pageSpeed = (20-$(this).val())*100;
        updateDatabaseObject("User",user._id,user);
    })
    $("#musicVolume-slider").on("change", function(){
        console.log($(this).val()/100)
        user.settings.musicVolume = $(this).val()/100;
        updateDatabaseObject("User",user._id,user);
        if(song){
            song.volume = user.settings.musicVolume;
        }
    })
    $("#soundVolume-slider").on("change", function(){
        console.log($(this).val()/100)
        user.settings.soundVolume = $(this).val()/100;
        updateDatabaseObject("User",user._id,user);
    })
    $("#pageScroll-checkbox").on("change", async function(){
        if(this.checked){
            user.settings.pageScroll = true; 
        }else{
            user.settings.pageScroll = false;
        }
        updateDatabaseObject("User",user._id,user);
    })
    $("#testSound").on("click", function(){
        playSound("Test Sound")
    })
    $("#return").on("click",async function(){
        window.history.back();
    })
</script>
<animation>down</animation>