<div id = "story">
    <div class="external" id="settings-button">
        <i class="fas fa-cog"></i>
    </div>
    <section id="top-section">
        <section id="tabs">
            <button class="tab" id="story-tab">Story</button>
            <button class="tab unselected invisible" id="contents-tab">Table of Contents</button> 
            <button class="tab unselected invisible <%if(!user.gamemaster){%>invisible-2<%}%>" id="gamemaster-tab">Gamemaster View</button> 
        </section>
    </section>
    <section id="main-story-section">
        <section id="left-arrow">
            <section class="arrow-box invisible" id="left-arrow-box"><i class="fas fa-chevron-left"></i></section>
        </section>
        <section>
            <section class="textbox" id="player-box">
                <section class="bottom" id="player-bottom">
                    <div id="sub-story-container-container">
                        <div id="sub-story-container">
                            <section id="sub-story">
                            </section>
                        </div>
                    </div>  
                </section>
            </section>
        </section>  
        <section id="right-arrow">
            <section class="arrow-box invisible" id="right-arrow-box"><i class="fas fa-chevron-right"></i></section>
        </section>
    </section>
    <section id="top-arrow">
        <section class="arrow-box invisible" id="top-arrow-box"><i class="fas fa-chevron-up"></i></section>
    </section>
    <section id="cutaway-image-collection" class="invisible external">

    </section>



    <section id="cutaway-image-container">
        <section id="cutaway-image">

        </section>
        <section id="cutaway-subtitle">
        </section>
    </section>
    <section id="choice-container">
        <section id="choice">

        </section>
    </section>
</div>
<script>
story = JSON.parse(`<%-JSON.stringify(story)%>`); 
$("body").on("keydown", function (e) {
    if (e.keyCode == 17) {
        if(enterButton&&keyButtons)
            $("#player-box").click()
    }
})

$("body").on("keypress", function (e) {
    if (e.keyCode == 13 || e.keyCode == 32) {
        if(ctrlButton&&keyButtons)
            $("#player-box").click();
    }
})

$("body").on("keydown", function (e){
    if(e.keyCode == 37){
        if(keyButtons)
        $("#left-arrow-box").click();
    }
    if(e.keyCode == 39){
        if(keyButtons)
        $("#right-arrow-box").click();
    }
})
buttons.settingsClick = function(){
        $("#settings-button").on("click", async function(){
            setCookieStates();
            states = ["main","settings"];
            databaseObjects = [false,false];
            customdata = [false,false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Settings", "/main/settings");
            await loadStates();
        })
    } 
buttons.contentsTab = function(){
    $("#contents-tab").on("click", async function(){
        setCookieStates();
        states = ["story","contents","content-year"];
        databaseObjects = [databaseObjects[0],false,databaseObjects[0]];
        customData = [customData[0],customData[1],customData[1]];
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Table of Contents", `/story/contents/content-year`);
        await loadState(1, "down");
        await loadState(2, "right");
        if($("#left-arrow-box").hasClass("invisible")){
            $("#left-arrow-box").removeClass("invisible");
        }
        $("#contents-tab").off("click");
        $("#story-tab").off("click");
        buttons.storyTab();
    })
}
buttons.storyTab = function(){
    $("#story-tab").on("click", async function(){
        $("#left-arrow-box").off("click");
        $("#right-arrow-box").off("click");
        onContents = false;
        if(states[1]=="contents"){
            getCookieStates();
        }else{
            if(states[1]=="gamemaster-event"){
                states[1]=`event`;
            }
        }
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story", `/story/${states[1]}`);
        await loadState(1, "down");
        $("#story-tab").off("click");
        $("#contents-tab").off("click");
        buttons.contentsTab();
    })
}

buttons.gamemasterTab = function(){
    $("#gamemaster-tab").on("click", async function(){
        $("#gamemaster-tab").removeClass("unselected");
        $("#contents-tab").addClass("invisible");
        $("#story-tab").addClass("unselected")
        if(states[1]=="event"){
            states[1]=`gamemaster-event`;
            await loadState(1, "up");
        }
    })
}
buttons.settingsClick();
buttons.contentsTab();
buttons.storyTab();
buttons.gamemasterTab();

window.addEventListener('contextmenu', function(e){
    if(!user.gamemaster){
        e.preventDefault();
        if(screen){
            $("#title-box-event").css("visibility","hidden");
            $("#sub-base").css("visibility","hidden");
            $("#settings-button").css("visibility","hidden");
            screen = false;
        }else{
            $("#sub-base").css("visibility","visible");
            $("#title-box-event").css("visibility","visible");
            $("#settings-button").css("visibility","visible");
            screen = true;
        }
    }
}) 

if(isMobile){
    let touchstartX = 0;
    let touchstartY = 0;
    let touchendX = 0;
    let touchendY = 0;

    window.addEventListener('touchstart', function(event) {
        touchstartX = event.changedTouches[0].screenX;
        touchstartY = event.changedTouches[0].screenY;
    }, false);

    window.addEventListener('touchend', function(event) {
        touchendX = event.changedTouches[0].screenX;
        touchendY = event.changedTouches[0].screenY;
        handleGesture();
    }, false); 

    function handleGesture() {
        if (touchendX <= touchstartX) {
            if(touchstartX - touchendX > 50){
                $("#right-arrow-box").click();
            }
        }
        
        if (touchendX >= touchstartX) {
            if(touchstartX - touchendX < -50){
                $("#left-arrow-box").click();
            }
        }
        
        if (touchendY <= touchstartY) {
            //UP
        }
        
        if (touchendY >= touchstartY) {
            //DOWN
        }
        
        if (touchendY === touchstartY) {
            //TAP
        }
    }
}
</script>
<background>/images/<%=player.background%>.jpg</background>
<animation>up</animation>