<div id = "story">
    <div id="background">
        <section class="arrow-box" id="left-arrow-box"><i class="fas fa-chevron-left"></i></section>
        <section class="arrow-box" id="right-arrow-box"><i class="fas fa-chevron-right"></i></section>
        <section class="arrow-box" id="top-arrow-box"><i class="fas fa-chevron-up"></i></section>
        <section id="top-section">
            <section id="tabs">
                <button class="tab <%if(!user.gamemaster){%>invisible-2<%}%>" id="player-tab">Player View</button>
                <button class="tab unselected <%if(!user.gamemaster){%>invisible-2<%}%>" id="gamemaster-tab">Gamemaster View</button> 
            </section>
        </section>
        <section id="main-story-section">
            <section id="left-arrow">
            </section>
            <section>
                <section class="textbox" id="player-box">
                    <section class="bottom" id="player-bottom">
                        <div id="sub-story-container-container">
                            <div id="sub-story-container">
                                <section id="sub-story">
                    
                                </section>
                            </div>
                        </div>  
                    </section>
                </section>
                <section class="textbox invisible" id="gamemaster-box">
                    <section class="bottom" id="gamemaster-bottom">
                    </section>
                </section>
            </section>  
            <section id="right-arrow">
            </section>
        </section>
        <section id="top-arrow">
        </section>
        <section id="cutaway-image-collection" class="invisible">
    
        </section>
    
        <section id="cutaway-image-container">
            <section id="cutaway-image">
    
            </section>
        </section>
        <section id="choice-container">
            <section id="choice">
    
            </section>
        </section>
        <section id="cutaway-subtitle">
        </section>
        <section id="htmlConverter">
        </section>
    </body>
</div>
<div id="settings-button">
    <i class="fas fa-cog"></i>
</div>
<script>
    years = JSON.parse(`<%-JSON.stringify(years)%>`); 
</script>