<div id = "story">
    <div class="invisible external" id="settings-button">
        <i class="fas fa-cog"></i>
    </div>
    <section id="top-section">
        <section id="tabs">
            <button class="tab" id="story-tab">Story</button>
            <button class="tab unselected" id="contents-tab">Table of Contents</button> 
            <button class="tab unselected <%if(!user.gamemaster){%>invisible-2<%}%>" id="gamemaster-tab">Gamemaster View</button> 
        </section>
    </section>
    <section id="main-story-section">
        <section id="left-arrow">
            <section class="arrow-box invisible" id="left-arrow-box"><i class="fas fa-chevron-left"></i></section>
        </section>
        <section>
            <section class="textbox" id="player-box">
                <section class="bottom" id="player-bottom">
                    <div id="sub-story-container-container">
                        <div id="sub-story-container">
                            <section id="sub-story">
                
                            </section>
                        </div>
                    </div>  
                </section>
            </section>
        </section>  
        <section id="right-arrow">
            <section class="arrow-box" id="right-arrow-box"><i class="fas fa-chevron-right"></i></section>
        </section>
    </section>
    <section id="top-arrow">
        <section class="arrow-box" id="top-arrow-box"><i class="fas fa-chevron-up"></i></section>
    </section>
    <section id="cutaway-image-collection" class="invisible external">

    </section>



    <section id="cutaway-image-container">
        <section id="cutaway-image">

        </section>
        <section id="cutaway-subtitle">
        </section>
    </section>
    <section id="choice-container">
        <section id="choice">

        </section>
    </section>
</div>
<script>
story = JSON.parse(`<%-JSON.stringify(story)%>`); 
invisibleArrow = false;
loadStory();
buttons.contentsTab = function(){
    $("#left-arrow-box").off("click");
    $("#right-arrow-box").off("click");
    $("#contents-tab").on("click", async function(){
        setCookieStates();
        states = ["story","contents","content-year"];
        databaseObjects = [databaseObjects[0],false,databaseObjects[0]];
        customData = [customData[0],customData[1],customData[1]];
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Table of Contents", `/story/contents/content-year`);
        await loadState(1, "down");
        await loadState(2, "right");
       if($("#left-arrow-box").hasClass("invisible")){
            $("#left-arrow-box").removeClass("invisible");
            invisibleArrow = true;
        }
        $("#left-arrow-box").on("click", async function(){
            if(customData[2].year>0){
                customData[2].year--;
                await loadState(2, "right");
            }
        })
        $("#right-arrow-box").on("click", async function(){
            if(customData[2].year<story.years.length-1){
                customData[2].year++;
                await loadState(2, "left");
            }
        })
    })
}
buttons.storyTab = function(){
    $("#story-tab").on("click", async function(){
        $("#left-arrow-box").off("click");
        $("#right-arrow-box").off("click");
        onContents = false;
        if(states[1]=="contents"){
            getCookieStates();
        }else{
            if(states[1]=="gamemaster-event"){
                states[1]=`event`;
            }
        }
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story", `/story/${states[1]}`);
        await loadState(1, "down");
    })
}

buttons.gamemasterTab = function(){
    $("#gamemaster-tab").on("click", async function(){
        $("#gamemaster-tab").removeClass("unselected");
        $("#contents-tab").addClass("invisible");
        $("#story-tab").addClass("unselected")
        if(states[1]=="event"){
            states[1]=`gamemaster-event`;
            await loadState(1, "up");
        }
    })
}
buttons.contentsTab();
buttons.storyTab();
buttons.gamemasterTab();
</script>
<background>/images/<%=player.background%>.jpg</background>
<animation>up</animation>