<section id = "character-stress-level" class = "character-box">
    <section class = "character-box-title character-box-section border-top-thick border-left-thick border-right-thick border-bottom">
        Stress Level: 
    </section>
    <section class ="character-box-content character-box-section border-bottom-thick border-left-thick border-right-thick">
        <%=stressLevel()%>
    </section>
</section>