<section id = "character-stress-level" class = "character-box">
    <section class = "character-box-title character-box-section">
        Stress Level: 
    </section>
    <section class ="character-box-content character-box-section">
        <%=stressLevel%>
    </section>
</section>