<section id="subnav">
    <section id="subnav-buttons" class="nav-buttons">
        <button class="nav-button slide-button" id="characters-button">
            Characters
        </button>
        <button class="nav-button slide-button" id="armies-button">
            Armies
        </button>
        <button class="nav-button slide-button" id="battler-button">
            Battler
        </button>
        <button class="nav-button slide-button" id="story-button">
            Story
        </button>
    </section>
</section>
