<div id = "turn-title">
    <p class="boxtext big-boy big-boy-turn-title"></p>
    <div id="title-box-turn-title">
        <p class="boxtext turn-title">To Be Continued...</p>
        <p class="boxtext turn-subtitle">The Rest Is Still Being Prepared!</p>
    </div>
    <p class="boxtext big-boy big-boy-turn-title"></p>
</div> 
<div class = "height-box">

</div>
<background>https://media.discordapp.net/attachments/948762262829666325/948765394330595388/Book.jpg</background>