<section class="meta-trait">
    <section class="trait-type character-big-title character-box-section knowledge-grid-title">New <%=type%> Discovered!</section>
    <section class="meta-trait-content">
        <section class="trait-name character-box-title character-box-section"><%=name%></section>
        <section class="trait-description character-box-content character-box-section"><%=description%></section>
        <section class="trait-effect character-box-content character-box-section"><strong>Effect: </strong><%=effect%></section>
    </section>
</section>
<script>
    $("head").append($("<link id='appended-style' rel='stylesheet' type='text/css' />").attr('href',`/styles/character.css`))
</script>