<div id = "turn-title">
    <p class="boxtext big-boy big-boy-turn-title"></p>
    <div id="title-box-turn-title">
        <p class="boxtext turn-title">Turn <%=currentTurn%></p>
        <p class="boxtext turn-subtitle">
            <%if(currentSeason=="0"){%>
                Winter
            <%}%>
            <%if(currentSeason=="1"){%>
                Spring
            <%}%>
            <%if(currentSeason=="2"){%>
                Summer
            <%}%>
            <%if(currentSeason=="3"){%>
                Fall
            <%}%>
            of Year <%=currentYear%></p>
    </div>
    <p class="boxtext big-boy big-boy-turn-title"></p>
</div> 
<div class = "height-box">

</div>
<background>https://aozora.s3.us-east-2.amazonaws.com/1621228479216-Book.jpg</background>