<div id = "turn-title">
    <p class="boxtext big-boy big-boy-turn-title"></p>
    <div id="title-box-turn-title">
        <p class="boxtext turn-title">Turn <%=turn%></p>
        <p class="boxtext turn-subtitle">
            <%if(season=="0"){%>
                Winter
            <%}%>
            <%if(season=="1"){%>
                Spring
            <%}%>
            <%if(season=="2"){%>
                Summer
            <%}%>
            <%if(season=="3"){%>
                Fall
            <%}%>
            of Year <%=year%></p>
    </div>
    <p class="boxtext big-boy big-boy-turn-title"></p>
</div> 
<div class = "height-box">

</div>
<background>https://media.discordapp.net/attachments/948762262829666325/948765394330595388/Book.jpg</background>
<script>
    $("#left-arrow-box").removeClass("invisible");
    $("#left-arrow-box").off("click");
    $("#left-arrow-box").on("click",function(){
        states = ["story","main-title"]
        databaseObjects = databaseObjects;
        customData = customData;
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Main Title", "/story/main-title");
        loadState(1,"right");
    })
    $("#right-arrow-box").off("click");
    $("#right-arrow-box").on("click", function(){
        states = ["story","region-title"]
        databaseObjects = databaseObjects;
        customData[1].regionPhase = 0;
        customData = [customData[0],customData[1]];
        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Region Title", "/story/region-title");
        loadState(1,"left");
    })
</script>