<div>
    HEWLLO!
</div>
<script>
    $("#unit-info").on("mouseover",function(){
        $("#unit-info").css("background-color","rgba(0, 0, 0, 0)");
        $("#unit-info").css("color","rgba(0, 0, 0, 0)");
    })
    $("#unit-info").on("mouseleave",function(){
        $("#unit-info").css("background-color","var(--background)");
        $("#unit-info").css("color","white");
    })
    $("#unit-info").on("contextmenu",function(){
        event.preventDefault();
        $("#unit-info").css("display","none");
        const el = document.elementFromPoint(event.pageX, event.pageY)
        $(el).contextmenu();
        $("#unit-info").css("display","block");
    })
</script>