body {
  background-color: darkred;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e6b8af;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cc4125;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dd7e6b;
}
#character-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-size: 13px;
}
#character-left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#basic-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
}
#basic-info-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}
#character-image {
  max-height: 100%;
  border: solid 1px;
}
#basic-info-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 10px;
}
.basic-info-row {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.basic-info-group {
  display: flex;
  flex-direction: row;
  border: solid 1px;
  flex-grow: 1;
}
.basic-info-row-space {
  width: 10px;
}
.character-box {
  flex-grow: 1;
}
.character-box-title {
  background-color: #dd7e6b;
  font-weight: bold;
}
.character-box-content {
  background-color: #e6b8af;
}
.character-box-section {
  padding: 4px;
}
.basic-info-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px;
}
.grid-titles,
.grid-content-container {
  display: flex;
  flex-direction: row;
}
.grid-content,
.grid-title {
  width: 20%;
}
#traits {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  height: 40%;
}
.trait-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.trait-section-title {
  background-color: #cc4125;
  font-weight: bold;
  text-align: center;
  border: solid 1px;
}
.traits {
  overflow-y: auto;
}
.trait {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
}
#character-right {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 40%;
}
.meta-trait {
  height: 15%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e6b8af;
}
.meta-trait-content {
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  flex-grow: 1;
  overflow-y: auto;
}
.knowledge-box {
  height: calc(85% - 10px);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.knowledge-grid {
  display: flex;
  flex-direction: row;
  height: calc(100% - 25px);
  background-color: #e6b8af;
}
.knowledge-grid-title {
  height: 25px;
}
.knowledge-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}
.title-column {
  min-width: 20%;
  max-width: 20%;
}
.knowledge-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.title-column-box {
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-title-box {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.general-title-box {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.knowledge-column-general {
  height: 15%;
  display: flex;
  flex-direction: row;
  border-right: solid 1px;
  border-bottom: solid 1px;
  overflow-y: auto;
  overflow-x: auto;
}
.knowledge-column-skill {
  height: 25%;
  display: flex;
  flex-direction: row;
  border-right: solid 1px;
  border-bottom: solid 1px;
  overflow-y: auto;
  overflow-x: auto;
}
.knowledge-column-box {
  height: 20%;
  display: flex;
  flex-direction: row;
  border-right: solid 1px;
  border-bottom: solid 1px;
  overflow-y: auto;
  overflow-x: auto;
}
.knowledge-content-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.highlight {
  background-color: #ea9999;
}
