<section id = "character-info-level" class = "character-box">
    <section class = "character-box-title character-box-section border-top-thick border-left-thick border-right-thick border-bottom">
        Information Level: 
    </section>
    <section class ="character-box-content character-box-section border-left-thick border-right-thick border-bottom-thick">
        <%=characterinfo.infoConversion(characterinfo.informationLevel(player.name))%>
    </section>
</section>