<section class = "meta-trait">
    <section class = "character-big-title character-box-section knowledge-grid-title border-top-thick border-left-thick border-right-thick border-bottom">
        Meta Trait
    </section>
    <section class = "meta-trait-content">
        <section class = "character-box-title character-box-section border-bottom border-left-thick border-right-thick">
            <%=characterinfo.traits.metaTrait[0].name%>
        </section>
        <section class = "character-box-content character-box-section border-left-thick border-bottom-thick border-right-thick" style="flex-grow:1">
            <%=characterinfo.traits.metaTrait[0].description%>
        </section>
    </section>
</section>