<section id = "character-birthday" class = "character-box">
    <section class = "character-box-title character-box-section border-top-thick border-right-thick border-bottom border-left-thick">
        Race:
    </section>
    <section class ="character-box-content character-box-section border-bottom-thick border-right-thick border-left-thick">
        <%=characterinfo.knownRace(player.name)%>
    </section>
</section>