* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

animation, component{
    display: none;
}

.clickable{
    cursor:pointer;
}

.slide-button{
    font-size: 10px;
  }
  #subnav{
    height: 25px;
  }