#battle-box{
    max-width: 75%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
#battle-box::-webkit-scrollbar{
    display:none;
}

#side-bar{
    flex-grow: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
}

#battle-text{
    height: 95%;
    overflow: auto;
}

#start-battle-button{
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

#unit-info{
    position: fixed;
    height: 25%;
    width: 10%;
    top: 0;
    background-color: gray;
    transform: translateY(-100%);
}

.battle-text-line{
    width: 100%;
    padding: 10px;
    font-family: 'Jura';
}

.token{
    height: 48.4px;
    width: 48.4px;
}

.upper-layer{
    transform: translateY(-52.6px);
    height: 48.6px;
}

#grid-container{
    overflow: hidden;
}

#grid-background{
    position: relative;
    z-index: -1;
}

.gridrow{
    display: flex;
    flex-direction: row;
}

.gridbox{
    height: 50px;
    width: 50px;
    border: solid 1px;
}