/* INSERT CUSTOM COLORS HERE */
#light {
  color: #fae3ca;
  display: none;
}
#dark {
  color: #f9cb9c;
  display: none;
}
#darker {
  color: #f6b26b;
  display: none;
}
#highlight {
  color: #ffe599;
  display: none;
}
#background {
  color: #e69138;
  display: none;
}
#navbar-select {
  color: #efb77c;
  display: none;
}
#slidebar-select {
  color: #da7d1b;
  display: none;
}
#slidebar {
  color: #ba6b17;
  display: none;
}
.fa-spinner {
  font-size: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1000ms;
}
a {
  text-decoration: none;
  color: black;
}
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  background-color: #fae3ca;
}
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
#css-load-tester {
  color: black;
}
#loading {
  display: none;
}
#loading-2 {
  display: none;
  transform: translateY(-100%);
}
.clickable:hover {
  cursor: pointer;
}
nav {
  height: 80px;
  display: flex;
  flex-direction: column;
}
#top {
  height: 50%;
  display: flex;
  background: #e69138;
  box-shadow: 0px 0px 5px 1px black;
}
#bottom {
  height: 50%;
  display: flex;
}
#left {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 27px;
}
/* This is to hide the shadow from #slide-bar */
#shadow-hide {
  position: absolute;
  background: #e69138;
  min-width: 277px;
  width: 41%;
  height: 40px;
  z-index: 1;
}
#title {
  padding-left: 10px;
  font-family: 'Cookie';
  font-size: 30px;
}
#slide-bar {
  content: "";
  background-color: #ba6b17;
  min-width: 260px;
  width: 34%;
  height: 40px;
  position: absolute;
  transform: translateX(-150%) skew(-40deg, 0deg);
  box-shadow: 3px 2px 5px 0px black;
}
#nav-buttons {
  height: 40px;
  width: 30%;
  background-color: #ba6b17;
  position: absolute;
  padding-left: 3px;
  z-index: 1;
  transform: translateX(-200%);
}
.nav-buttons {
  height: 100%;
  display: flex;
  align-content: center;
}
#main-buttons {
  justify-content: flex-end;
}
.nav-button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
}
.slide-button:hover {
  background-color: #da7d1b;
  transition: 500ms;
}
.login-button {
  color: black;
}
.login-button:hover {
  background-color: #efb77c;
  transition: 500ms;
}
#right {
  width: 50%;
  padding-right: 10px;
}
#login-buttons {
  justify-content: flex-end;
}
.center-container {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* This is to account for the bottom part of the navbar - Needs to be in the below transitions */
  transform: translateY(-40px);
}
#login {
  transform: translate(-100%, -40px);
}
#register {
  transform: translateY(calc(100% - 40px));
}
/* FORMS */
.form {
  background-color: #e69138;
  padding: 10px;
  border: solid 1px;
  box-shadow: 0px 0px 5px #f9cb9c;
}
#file-upload-form {
  padding-left: 50px;
}
.form-input {
  color: black;
  border-color: #f9cb9c;
  border-radius: 4px;
}
.form-input:focus {
  outline-color: #f6b26b;
  color: #53bde0;
}
.submit-button {
  background-color: #f9cb9c;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #fae3ca;
  color: black;
  padding: 3px;
  margin-top: 10px;
}
.form-title {
  text-shadow: 0px 0px 10px #fae3ca;
}
.center-form {
  text-align: center;
}
.right-form {
  text-align: right;
}
