#character-select{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 25px;
    padding-bottom: 35px;
    border: solid white;
}
  
.player-character-info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
}
  
.player-character-image{
    display: none;
}

.player-character-name{
    text-align: center;
    font-family: "Jura";
}